*{
	margin:  0;
	padding:  0;
}

body {
	font-family:  Open Sans;
}

/*#logo {
	display: block;
}*/

.nav-logo {
	float:  left;
	padding:  0% 0% 0% 9%;

}

.nav {
	display: inline-block;
	padding: 0px 5px;


}

.right-nav {
		float:  right;
		padding-right:  9%;

}

.tuitt-button {
	border-radius: 20px;
	width: 6rem;
	height:  2rem;
	background-color: #c2195b;
	border:  none;
	color:  white;
	font-weight: bold;

}

nav {
	padding: 10px 0px;
	position:  sticky;
	top:  0;
	background-color:  white;
	height:  40px;
	z-index: 10;
}


ul {
	list-style-type:  none;
	position:  sticky;
}

.front-bg{
	min-height: 30vh;
	width:  60%;
	background-image:  url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-position: center;
	background-size: 100%;
	display:  inline-block;
	width:  100%;
	height:  38vh;

	}



.container {
	max-width:  100vw;
	float:  right;
	padding:  0% 9% 0%  40%;
	text-align:  right;
	position: relative;
	min-height:  100%;
	color:  white;
	background-color: rgba(0,0,0,0.5);
	display: inline-block;

/*	vertical-align: baseline;*/
}

.title {
		font-family: Zilla Slab;
		font-size : 2.5rem;
		font-weight:  bold;
		width: 80%;
		display: inline-block;

}

.subtitle {
		padding-top:  20px;
		max-width: 60% ;
		text-align:  right;
		width:65%;
		display: inline-block;
}


.apply-button{
		float:  inherit;
		align-items: inherit;
		bottom: 10%;
		right:  9%;
		position:  absolute;
		border-radius: 20px;
		width: 10rem;
		height:  2rem;
		background-color: #c2195b;
		border:  none;
		color:  white;
		font-weight: bolder;

}

#bg-image {
	max-width: 100vw;

}

.title-2 {
	text-align: center;
	padding:  50px 0px;
		font-family:  Times New Roman;

}

.intro {
	padding: 0% 25%;

}

.intro-description {
	text-align:  justify;
	font-size:  0.8rem;
}

.pre-footer {
	padding: 5% 25%;
	text-align: center;
/*	border: 1px solid green;*/
	font-family:  Times New Roman;


	background-color:  #f7fbfb;


}

.title-2 {
	font-weight:  bold;
}

.prefooter-description {
	text-align:  justify center;
	font-size:  0.8rem;
}


.book-button{
	background-color:  #336589;
	border-radius:  20px;
	border:  none;
	color:  white;
	width:  8rem;
	height:  2rem;
	font-weight:  bold;
	margin:  15px;
	position:  absolute;
		bottom: 0;
	left:  45%;

}

footer {
	padding-top:  50px;
	text-align:  center;
		font-size:  0.8rem;
}

span {
	padding:  5px;
}




